# Misc
.DS_Store

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
.venv/
__pycache__/
*.py[cod]
venv
# Logs and Output
*.log
logs/
output/

# Other
*.csv
.history/
